#beta {
    font-family: 'Dancing Script', cursive;
    font-size: 22px;
    vertical-align: top;
}

.ace {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#output {
    width: 100%;
    min-height: 95%;
    border: 1px gray dotted;
    border-radius: 8px;
    background: #f4f9ff;
    margin-top: 10px;
    padding: 5px 5px 5px 5px;
    white-space: pre-wrap;
}

body {
    height: 100%;
}

.container {
    padding: 0;
    margin: 0;
    padding-right: 1%;
    width: 100%;
}

.navbar-right {
    padding-right: 1%;
}

@media screen and (max-width: 480px) {
    .left-panel {
        width: 15%;
        z-index: 1;
        overflow-x: hidden;
        float: left;
        background: seashell;
        transition: 0.5s;
    }
    .left-panel-show {
        width: 40%;
    }
    #btn-upload {
        display: block;
        margin-bottom: 2%;
    }
}

@media screen and (min-width: 500px) {
    .left-panel {
        width: 5%;
        z-index: 1;
        overflow-x: hidden;
        float: left;
        background: seashell;
        transition: 0.5s;
    }
    .left-panel-show {
        width: 18%;
    }
}

@media screen and (min-width: 1700px) {
    .left-panel {
        width: 5%;
        z-index: 1;
        overflow-x: hidden;
        float: left;
        background: seashell;
        transition: 0.5s;
    }
    .left-panel-show {
        width: 12%;
    }
}

.panel-right {
    transition: margin-left .5s;
    padding: 16px;
}

.layout {
    padding-left: 1%;
}

.option-solver {
    margin-left: 3%;
    margin-right: 3%;
}

a[role="button"] {
    font-size: 19px;
}

a[role="button"]:focus {
    outline: none;
}

[href="#setting-editor"] {
    padding-left: 5px;
}

#upload-container {
    padding-bottom: 1%;
}

.btn:focus {
    outline: none;
}

.checkbox {
    margin-top: 20%;
}

#drop_zone {
    border-style: dashed;
    border-color: grey;
    margin-left: 1%;
    margin-right: 1%;
    height: 100px;
}

#drop_zone>p {
    margin-top: 1%;
}

#input-select {
    text-align: center;
    vertical-align: middle;
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 1%;
}

#files {
    display: inline-block;
}

#setting-editor>.modal-dialog>.modal-content>.modal-body>.row {
    margin-bottom: 3%;
}

.nav-tabs>li>a {
    display: inline-block;
}

.nav-tabs>li>a>span>i {
    display: none;
    cursor: pointer;
    color: red;
}

.nav-tabs>li:hover>a>span>i {
    display: inline-block;
}

.nav>.btn {
    margin-right: 5px;
}

.row-tabpanel-toolbar{
    margin-right:0px;
    margin-left: 0px;
}

#tab-execute {
    margin-top: 5%;
}

.navbar-header>img {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.opname {
    width: 100%;
}

#version {
    color: #337ab7;
}

::selection {
    background-color: yellow;
}

mark {
    background: transparent;
    font-weight: bold;
}

.ui-layout-pane-east {
     overflow: hidden;
 }

.ui-layout-pane-east:hover{
    overflow-y: auto;
}

.ui-layout-pane-center {
    overflow: hidden;
}

#seeting-output {
    width: 100%;
    height: 1%;
    padding: 5px 5px 20px 5px;
}

.btn-outline {
    background-color: transparent;
    border: 1px solid red;
    transition: all .5s;
}

.btn-outline.btn-outline-danger {
    color: #d9534f;
}

.btn-outline.btn-outline-danger:hover {
    color: #fff;
    background-color: #d9534f;
}

#reset-container {
    margin-top: 5%;
}

#btn-run-nav {
    margin-left: 17%;
}

.navbar-header {
    width: 20%;
}

.popover-download-content {
    padding: 10px;
    /*border: 2px solid #8cd6ff;*/
    border-radius: 5px;
}

.nav.navbar-nav .btn {
    margin-top: 12.5px;
}

.btn-saver {
    margin-left: 2px;
    margin-right: 2px;
}

.save-content {
    margin-top: 4px;
}

@media screen and (max-width: 767px) {
    #btn-run-nav {
        margin-left: 2%;
    }
    .navbar-header {
        width: 103%;
    }

    .nav.navbar-nav .btn:not(#dropdown) {
        margin-left: 10px;
    }
}

@media screen and (min-width: 768px){

    .navbar-header {
        width: 41%;
    }
}

@media screen and (min-width: 1036px){

    .navbar-header {
        width: 25%;
    }
}

@media screen and (max-width: 1183px) and (min-width: 1024px){

    .navbar-header {
        width: 30%;
    }
}
