#editor {
    position: absolute;
    height: 40%;
}

@media screen and (min-width:768px) {
    ul.nav.navbar-nav.navbar-right {
        width: 40%;
    }
}

.nav {
    padding-top: 1%;
    padding-bottom: 1%;
}

.navbar-brand {
    padding-right: 50%;
}
#input{
    margin-top: 30%;
}
