#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#output {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

@media screen and (min-width:768px) {
    ul.nav.navbar-nav.navbar-right {
        width: 50%;
    }
}

body {
    height: 100%;
}

.nav {
    padding-top: 1%;
}

.navbar-brand {
    padding-right: 50%;
}

.container {
    padding: 0;
    margin: 0;
    padding-right: 1%;
    width: 100%;
}

.left-panel {
    width: 5%;
    z-index: 1;
    overflow-x: hidden;
    float: left;
    background: seashell;
    transition: 0.5s;
}

.panel-right {
    transition: margin-left .5s;
    padding: 16px;
}

.left-panel-show {
    width: 19%;
}

.layout {
    padding-left: 1%;
}

.option-solver {
    margin-left: 3%;
    margin-right: 3%;
}

#btn-option {
    font-size: 19px;
}