@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }

  #a {
    margin-top: 1%;
    margin-bottom: 1%;
  }

  #input-select {
    margin-right: 1%;
    margin-left: 1%;
  }

  img[alt="logo"] {
    width: 55%;
  }

  .navbar-brand {
    width: 40%;
  }

  .left-panel {
    z-index: 10;
    position: absolute;
    width: 0%;
    overflow-x: hidden;
    float: left;
    transition: 0.5s;
  }
  .left-panel-show {
    width: 100%;
    padding: 3%;
    background: rgba(255, 245, 238, 1);
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.4);
    margin-bottom: 0.75rem;
  }

  body.dark .left-panel-show {
    background: rgba(83, 83, 83, 1);
  }

  #input-select {
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media (min-width: 577px) {
  .container {
    max-width: 100%;
  }

  img[alt="logo"] {
    width: 35%;
  }

  .left-panel {
    position: relative;
    width: 0%;
    z-index: 1;
    overflow-x: hidden;
    float: left;
    transition: 0.5s;
  }
  .left-panel-show {
    width: 18%;
    background: rgba(255, 245, 238, 1);
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  }

  body.dark .left-panel-show {
    background-color: rgb(83, 83, 83);
  }
}

@media (min-width: 1700px) {
  .left-panel {
    width: 0%;
    z-index: 1;
    overflow-x: hidden;
    float: left;
    background: seashell;
    transition: 0.5s;
  }
  .left-panel-show {
    width: 12%;
  }

  body.dark .left-panel-show {
    background-color: rgb(83, 83, 83);
  }
}

#beta {
  font-family: "Dancing Script", cursive;
  font-size: 22px;
  vertical-align: top;
}

.ace {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.output-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#output {
  width: 100%;
  flex-grow: 1;
  overflow: auto;
  border: 1px #d9dee4 dotted;
  border-radius: 8px;
  background: #f4f9ff;
  margin-top: 10px;
  padding: 5px 5px 5px 5px;
  white-space: pre-wrap;
}

.output-pane {
  opacity: 0;
}

body {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.06);
}

.container {
  padding: 0px;
  margin: 0px;
  padding-right: 1%;
  padding-left: 1%;
  width: 100%;
  overflow: auto;
}

.navbar-right {
  padding-right: 1%;
}

.navbar-brand {
  margin-right: 0px;
}

img[alt="logo"] {
  cursor: pointer;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel-right {
  transition: margin-left 0.5s;
  padding: 16px;
}

.option-solver {
  margin-left: 3%;
  margin-right: 3%;
}

a[role="button"] {
  font-size: 19px;
}

a[role="button"]:focus {
  outline: none;
}

[href="#setting-editor"] {
  padding-left: 5px;
}

.btn:focus {
  outline: none;
}

#drop_zone {
  border-style: dashed;
  border-color: #dddddd;
  margin-left: 1%;
  margin-right: 1%;
  height: 100px;
  border-radius: 8px;
  margin-top: 1%;
}

#drop_zone > p {
  margin-top: 1%;
}

#input-select {
  cursor: pointer;
  position: relative;
  text-align: center;
  vertical-align: middle;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.ui-layout-resizer {
  background: none;
}

#files {
  display: inline-block;
  cursor: pointer;
}

#setting-editor > .modal-dialog > .modal-content > .modal-body > .row {
  margin-bottom: 3%;
}

.nav-tabs > li > a {
  display: inline-block;
}

.nav-tabs > li > a > span > i {
  cursor: pointer;
  color: red;
  opacity: 0;
  transition: opacity 0.5s ease-out;
  clear: both;
}

.nav-tabs > li:hover > a > span > i {
  opacity: 1;
}

.nav > .btn {
  margin-right: 5px;
}

.nav-tabs {
  border-bottom: 0px;
}

.row-tabpanel-toolbar {
  margin-right: 0px;
  margin-left: 0px;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  padding-top: 5px;
}

#tab-execute {
  margin-top: 5%;
}

.opname {
  width: 100%;
}

#version {
  color: #337ab7;
}

::selection {
  background-color: yellow;
}

mark {
  background: transparent;
  font-weight: bold;
}

.ui-layout-pane-center {
  overflow: hidden;
}

#seeting-output {
  width: 100%;
  height: 1%;
  padding: 5px 5px 20px 5px;
}

#btn-upload {
  color: white;
}

.btn-outline {
  background-color: transparent;
  border: 1px solid red;
  transition: all 0.5s;
}

.btn-outline.btn-outline-danger {
  color: #d9534f;
}

.btn-outline.btn-outline-danger:hover {
  color: #fff;
  background-color: #d9534f;
}

#reset-container {
  margin-top: 5%;
}

.popover-download {
  cursor: pointer;
}

.popover-download-content {
  padding: 10px;
  border-radius: 5px;
}

.nav.navbar-nav .btn {
  margin-top: 12.5px;
}

.btn-saver {
  margin-left: 2px;
  margin-right: 2px;
}

#cloud-download {
  margin-top: 0;
}

.save-content {
  margin-top: 4px;
}

.hidden {
  display: none;
}

#change-name-tab {
  border-radius: 0px 4px 4px 0px;
  border-color: #ced4da;
}

.delete-tab {
  transition: 1s;
}

label[for="btn-download"] {
  margin-bottom: 0px;
}

.popover {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  z-index: 1054;
}
.popover-header {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

#toast-container {
  position: absolute;
  z-index: 1060;
  top: 0;
  right: 0;
  margin-top: 2%;
  margin-right: 2%;
}

.pane {
  border-radius: 10px;
  border: 0;
}

.left-panel {
  left: -500px;
  overflow-y: hidden;
  padding-bottom: 2%;
  margin-bottom: 0.5%;
}
.left-panel:hover {
  overflow-y: auto;
}

.left-panel-show {
  margin-right: 1%;
  border-radius: 10px;
  left: 0px;
  min-width: 200px;
}

.left-panel-title {
  border-bottom: 1px dashed #dddddd;
  background-color: rgba(255, 245, 238, 1);
}

.add-tab {
  cursor: pointer;
  margin-left: 5px;
  padding: 3.5px 10px;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border: 1px dashed rgba(0, 0, 0, 0.05) !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-tab {
  cursor: pointer;
  padding: 0.35rem 0.4rem;
  margin: 0.3rem 0.1rem;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-tabs .nav-link {
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
  border-bottom-color: #dee2e6;
}

.nav {
  align-items: center;
}

li.nav-item:hover > a:not(.active) {
  background-color: #e3e7eb;
}

.bootstrap-select > .dropdown-toggle {
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.ui-layout-center {
  transition: 0.5s;
  padding-top: 0px;
}

.navbar {
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 8px;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
}

.navbar {
  background-color: white;
  transition: 0.5s;
}

#change-name-tab-textbox {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#btn-add-option {
  margin-top: 10px;
}

.btn-del-option {
  margin-top: 5px;
}

.btn-add {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
  border-bottom: 1px solid #ced4da;
  border-left: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
}

.btn-context-tab {
  border-radius: 5px;
  padding: 0px 5px;
}

.context-menu-list {
  border-radius: 0.4rem;
}

.context-menu-item {
  padding: 0.2em 0.7em;
}

.context-menu-item.context-menu-hover {
  background-color: rgb(245, 244, 244);
  color: black;
}

.context-menu-item-icon {
  padding-right: 8px;
  width: 25px;
}

select.not-alone {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.option-value {
  border-top: 0px;
  border-radius: 0px;
  padding-right: 37px;
}

.btn-del-option {
  cursor: pointer;
}

.btn-del-value {
  position: absolute;
  right: 5px;
  top: 6px;
  bottom: 4px;
  z-index: 9;
  padding-left: 10px;
  padding-right: 10px;
  color: red;
  cursor: pointer;
  opacity: 0;
  transition: 0.5s;
}

.input-group:hover > .btn-del-value {
  opacity: 1;
}

.check-run-lp {
  margin-right: 7px;
}

.save-btn {
  display: flex;
}

.custom-file-label {
  text-align: start;
}

.check-tab-name {
  margin-left: 8px;
}

.check-auto-run-tab {
  padding: 0.375rem 0.75rem;
}

.check-run-tab {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
}

.check-box {
  background-color: white;
  border-radius: 5px;
  border: #d8d8d8 1px solid;
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #495057;
}

.list-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;

  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 1px;
  padding-right: 1px;

  width: 100%;
  height: 5px;
}

.divider {
  width: 100%;
  height: 1px;
  border-top: #dddddd dashed 1px;
}

.tab-execute-title {
  font-size: 14px;
}

.run-auto-box {
  /* padding: 0.375rem 0.75rem; */
  border-radius: 0.25rem;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0.375rem 0.75rem;
}

.option-container {
  border-radius: 0.25rem;
  background-color: antiquewhite;
  border: 0;
  padding: 0.375rem 0.75rem;
}

.custom-switch {
  white-space: nowrap;
  overflow: hidden;
}

select {
  cursor: pointer;
}

#run-dot, label[for=run-dot]{
  cursor: pointer;
}

/*DARK-MODE SECTION*/

body.dark {
  background-color: rgba(29, 29, 29, 0.98);
  color: white;
}

body.dark .navbar {
  background-color: rgb(83, 83, 83);
}

body.dark .ui-layout-pane {
  background-color: rgb(83, 83, 83);
}

body.dark .modal-content {
  background-color: rgb(83, 83, 83);
}

body.dark #output {
  border: 1px #616161 dotted;
  background: #373737;
}

body.dark .btn-tab {
  background-color: #696a6b;
  border: 1px solid #a5a5a5;
  color: white;
}

body.dark .nav-tabs .nav-link {
  border: 1px solid transparent;
}

body.dark .nav-tabs .nav-item.show .nav-link,
body.dark .nav-tabs .nav-link.active {
  color: white;
  background-color: #878787;
  border-color: transparent transparent transparent;
  border-bottom-color: transparent;
}

body.dark li.nav-item:hover > a:not(.active) {
  background-color: #48494d;
}

body.dark li.nav-item:hover > a.add-tab {
  background-color: #252529;
}

body.dark .pull-right {
  color: #dddddd;
}

body.dark .popover {
  background-color: rgb(83, 83, 83);
  color: white;
}

body.dark .popover-body {
  color: white;
}

body.dark .popover-header {
  background-color: rgb(128, 128, 128);
  border-bottom: 1px solid #7e7e7e;
}

body.dark .toast {
  background-color: transparent;
}

body.dark .toast-header {
  color: #f9f9f9;
  background-color: rgba(144, 144, 144, 0.85);
}

body.dark .navbar-brand {
  filter: invert(100%);
}

body.dark .form-control {
  background-color: #d8d8d8;
}

body.dark .bs-popover-auto[x-placement^="bottom"] > .arrow::after,
body.dark .bs-popover-bottom > .arrow::after {
  border-bottom-color: #555;
}

body.dark .bs-popover-auto[x-placement^="right"] > .arrow::after,
body.dark .bs-popover-right > .arrow::after {
  border-right-color: rgb(128, 128, 128);
}

body.dark .btn-add {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

body.dark .form-control {
  border-color: #343a40;
}

body.dark .custom-select {
  background-color: #d8d8d8;
}

body.dark .custom-file-label {
  background-color: #d8d8d8;
}

body.dark .run-auto-box {
  background-color: #696a6b;
  border: 0;
}

body.dark .option-container {
  background-color: #696a6b;
}

body.dark .list-group-item {
  background-color: #d8d8d8;
}

body.dark .list-divider {
  background-color: #f6f6f6;
}

body.dark .divider {
  /* background-color: #9b9a9a; */
  border: #cccaca dashed 0.5px;
}

body.dark .context-menu-item {
  background-color: #e8e8e8;
}

body.dark .context-menu-list {
  background-color: #e8e8e8;

}

body.dark .context-menu-item.context-menu-hover {
  background-color: #dbdbdb;

}
body.dark .list-group-item-action:focus, body.dark .list-group-item-action:hover {
  background-color: rgb(233, 233, 233);

}

body.dark .left-panel-title {
background-color: rgb(83, 83, 83);
}
